<template>
    <v-row>
        <v-col cols="12" sm="6" md="4">
        <v-text-field v-model="recommend_adjective.kanji" label="Kanji" required hint="綺麗"></v-text-field>
        </v-col>
        <v-col cols="12" sm="6" md="4">
        <v-text-field v-model="recommend_adjective.hira" label="Hiragana" hint="きれい"></v-text-field>
        </v-col>
        <v-col cols="12" sm="6" md="4">
        <v-text-field
            label="Translations"
            hint="Beautiful,สวย,สะอาด"
            required
            v-model="recommend_adjective.translations"
        ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6">
        <v-select
            :items="['い','な']"
            label="Type"
            required
            v-model="recommend_adjective.level"
        ></v-select>
        </v-col>
        <v-col cols="12" sm="6">
        
        </v-col>
    </v-row>
</template>
<script>
import { mapMutations,mapActions, mapState, mapGetters } from 'vuex';
  export default {
    data: () => ({
    //   dialog: false,
    }),
    computed: {
        ...mapState(['recommend_adjective']),
        // ...mapGetters([])
    },
    methods:{
        // ...mapActions([]),
        // ...mapMutations([]),
    },
  }
</script>