<template>
  <div class="text-center ma-2">
    <v-snackbar
      v-model="snackbar.show"
      top
      :timeout="3000"
    >
      {{ snackbar.message }}
      <v-btn
        :color="snackbar.color"
        text
        @click="SET_SNACKBAR(false)"
      >
        <v-icon>{{snackbar.icon}}</v-icon>
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import { mapMutations,mapActions, mapState, mapGetters } from 'vuex';
  export default {
    data: () => ({
    }),
    methods:{
        // ...mapActions([]),
        ...mapMutations(['SET_SNACKBAR']),
    },
    computed: {
        ...mapState(['snackbar']),
        // ...mapGetters([])
    },
  }
</script>