<template>
    <v-card width="800" class="white--text" :color="card_colors[catagory]">
        <v-card-actions>
        <v-btn text dark @click="TOGLE_LOOKUP()">
            <v-icon>{{lookup ? "mdi-eye-outline":"mdi-eye-off-outline"}}</v-icon>
        </v-btn>
        <v-spacer/>
        <v-btn text dark @click="TOGLE_LOOKUP_KOTOBA()">
            <v-icon>{{lookup_kotoba ? "mdi-eye-outline":"mdi-eye-off-outline"}}</v-icon>
        </v-btn>
        <v-btn text dark @click="getNext"><v-icon>mdi-skip-next</v-icon></v-btn>
        </v-card-actions>
        <v-divider/>
        <CardDetailKanji v-if="catagory == 0" />
        <CardDetailVerb v-if="catagory == 1" />
        <CardDetailAdjective v-if="catagory == 2" />
    </v-card>
</template>
<script>
import { mapMutations,mapActions, mapState, mapGetters } from 'vuex';
import CardDetailKanji from '~/components/CardDetailKanji';
import CardDetailVerb from '~/components/CardDetailVerb';
import CardDetailAdjective from '~/components/CardDetailAdjective';
export default {
    components:{
        CardDetailKanji,CardDetailAdjective,CardDetailVerb
    },
    asyncData(){
        
    },
    data () {
        return {
            card_colors:["deep-purple darken-4","green darken-4","deep-orange darken-4"]
        }
    },
    mounted(){
        this.getNext();
    },
    methods:{
        ...mapActions(['getNext']),
        ...mapMutations(['TOGLE_LOOKUP','TOGLE_LOOKUP_KOTOBA']),
    },
    computed: {
        ...mapState(['lookup','catagory','lookup_kotoba']),
        // ...mapGetters([])
    },
}
</script>