<template>
    <v-container fluid grid-list-lg v-if="kanji">
        <v-layout row>
            <v-flex xs6>
                <div v-show="lookup">
                    <!-- <div class="display-4 font-weight 300 text-center">{{kanji.name}}</div> -->
                    <div class="display-2" v-for="t in kanji.translations.split(',')" :key="t">{{t}}</div>
                    <Kotoba v-if="kanji.kotobas && kanji.kotobas.length" :kotoba="kanji.kotobas" />
                </div>
            </v-flex>
            <v-flex xs6>
                <div v-show="lookup_kotoba">
                    <div class="text-center" style="font-size:70px; font-weight:400;">{{kanji.kanji}}</div>
                    <div class="text-center" style="font-size:20px; font-weight:200;">{{kanji.hira}}</div>
                </div>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
import { mapMutations,mapActions, mapState, mapGetters } from 'vuex';
import Kotoba from '~/components/Kotoba';
export default {
    components:{
        Kotoba
    },
    mounted(){
    },
    methods:{
        // ...mapActions(['']),
        // ...mapMutations([]),
    },
    computed: {
        ...mapState(['kanji','catagory','lookup','lookup_kotoba']),
        // ...mapGetters([])
    },
}
</script>