<template>
    <v-container fluid grid-list-lg v-if="kanji_detail">
        <v-layout row>
            <v-flex xs6>
                <div v-show="lookup">
                    <!-- <div class="display-4 font-weight 300 text-center">{{kanji.name}}</div> -->
                    <div v-if="kanji_detail.kun_readings">訓よみ　：　{{kanji_detail.kun_readings.toString()}}</div>
                    <div v-if="kanji_detail.on_readings">音よみ　：　{{kanji_detail.on_readings.toString()}}</div>
                    <div>{{kanji_detail.meanings.toString()}}</div>
                    <!-- <Kotoba v-if="kanji.kotobas" :kotoba="kanji.kotobas" /> -->
                </div>
            </v-flex>
            <v-flex xs6>
                <div v-show="lookup_kotoba">
                    <div class="text-center" style="font-size:200px; font-weight:800;">{{kanji_detail.kanji}}</div>
                    <div class="text-center">มีจำนวนเส้น: {{kanji_detail.stroke_count}} เส้น</div>
                    <!-- <img v-for="im in kanji.images" :key="im" :src="im" :alt="i" height="200" width="300"> -->
                    <v-select
                        :items="[1,2,3,4,5,6,7,'All']"
                        :menu-props="{ maxHeight: '400' }"
                        label="Level"
                        hint="Pick your level"
                        persistent-hint
                        chips
                        @change="setKanujiLevel"
                    ></v-select>
                </div>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
import { mapMutations,mapActions, mapState, mapGetters } from 'vuex';
import Kotoba from '~/components/Kotoba';
export default {
    components:{
        Kotoba
    },
    mounted(){
        // this.getNext();
    },
    methods:{
        ...mapActions(['setKanujiLevel']),
        // ...mapMutations([]),
    },
    computed: {
        ...mapState(['kanji','lookup','lookup_kotoba','kanji_detail']),
        // ...mapGetters([])
    },
}
</script>