<template>
  <v-bottom-navigation
    :value="catagory"
    color="purple lighten-1"
    shift
  >
    <v-btn @click="SET_CAT(0) ; getNext()">
      <span>漢字</span>
      <v-icon>mdi-nature-people</v-icon>
    </v-btn>

    <v-btn @click="SET_CAT(1) ; getNext()">
      <span>動詞</span>
      <v-icon>mdi-human-handsup</v-icon>
    </v-btn>

    <v-btn @click="SET_CAT(2) ; getNext()">
      <span>形容詞</span>
      <v-icon>mdi-heart</v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>

<script>
import { mapMutations,mapActions, mapState, mapGetters } from 'vuex';
  export default {
    data () {
      return {
      }
    },
    computed: {
        ...mapState(['catagory']),
        // ...mapGetters([])
    },
    methods:{
        ...mapActions(['getNext']),
        ...mapMutations(['SET_CAT']),
    },
  }
</script>