<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      max-width="1000"
      min-width="250"
    >
      <template v-slot:activator="{ on }">
        <td v-on="on">{{ detail.kanji }}</td>
      </template>

      <v-card>
        <v-card-title
          class="headline"
          primary-title
        >
          {{detail.hira}}({{detail.mean}})
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="pa-5 text-center display-4">
            {{detail.kanji}}
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  export default {
    props:["detail"],
    data () {
      return {
        dialog: false,
      }
    },
  }
</script>