<template>
  <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">Kanji</th>
          <th class="text-left">Hiragana</th>
          <th class="text-left">ความหมาย</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in kotoba" :key="item.kanji">
            <DetailDialog :detail="item" />
            <td class="text-xs-right">{{ item.hira }}</td>
            <td class="text-xs-right">{{ item.mean }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
import DetailDialog from "~/components/DetailDialog";
export default {
    components:{
        DetailDialog
    },
    props:["kotoba"],
    data () {
        return {
            kotoba_headers:[
                {
                    text:"Kanji",
                    value:"kanji"
                },
                {
                    text:"Hiragana",
                    value:"hira"
                },
                {
                    text:"ความหมาย",
                    value:"mean"
                },
            ],
        }
    }
}
</script>