<template>
  <v-row justify="center">
    <v-dialog v-model="tellname_dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">こんにちは</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <div class="body-2">ようこそ！ 名前はを書いてください。</div>
            <div class="caption">Welcome！Give me your name please</div>
            <div class="overline">ยินดีต้อนรับ โปรดเขียนชื่อของคุณ</div>
            <v-row>
                <v-col>
                    <v-text-field v-model="my_name"  label="名前/Name/ชื่อ" required hint="ヤラーワタンユー"></v-text-field>
                </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text >Leter..</v-btn>
          <v-btn color="blue darken-1" text @click="saveName(my_name)">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapMutations,mapActions, mapState, mapGetters } from 'vuex';
  export default {
    components:{
    },
    data: () => ({
      my_name:null
    }),
    computed: {
        ...mapState(['tellname_dialog']),
        // ...mapGetters([])
    },
    methods:{
        ...mapActions(['saveName']),
        ...mapMutations([]),
    },
  }
</script>