<template>
  <div class="text-center">
    <v-bottom-sheet v-model="sheet" persistent>
      <template v-slot:activator="{ on }">
        <v-btn
          color="green"
          dark
          text
          v-on="on"
        >
          Recommend Us
        </v-btn>
      </template>
      <v-sheet class="text-center" height="200px">
        <v-btn
          class="mt-6"
          text
          color="error"
          @click="sheet = !sheet"
        ><v-icon dark="">mdi-close</v-icon></v-btn>
        <div class="py-3">
            <v-btn @click="recommendUs(0)" class="mx-2" dark large color="deep-purple darken-4">
                <span>漢字</span>
                <v-icon dark="">mdi-nature-people</v-icon>
            </v-btn>
            <v-btn @click="recommendUs(1)" class="mx-2" dark large color="green darken-4">
                <span>動詞</span>
                <v-icon dark>mdi-human-handsup</v-icon>
            </v-btn>
            <v-btn @click="recommendUs(2)" class="mx-2" dark large color="deep-orange darken-4">
                <span>形容詞</span>
                <v-icon dark>mdi-heart</v-icon>
            </v-btn>
            <div class="body">Please choose topic you want to recommend us.</div>
            <div class="body">提案するトピックを選択してください。</div>
            <div class="body">โปรดเลือกหัวข้อที่คุณอยากแนะนำให้เรา</div>
        </div>
      </v-sheet>
    </v-bottom-sheet>
  </div>
</template>

<script>
import { mapMutations,mapActions, mapState, mapGetters } from 'vuex';
  export default {
    data: () => ({
      sheet: false,
    }),
    methods:{
        ...mapActions(['recommendUs']),
        ...mapMutations([]),
    },
  }
</script>