<template>
  <v-row justify="center">
    <v-dialog v-model="recommend_dialog" persistent max-width="600px">
      <!-- <template v-slot:activator="{ on }">
        <v-btn color="primary" dark v-on="on">Open Dialog</v-btn>
      </template> -->
      <v-card>
        <v-card-title>
          <span class="headline">User Profile{{recommend_dialog}}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <div class="body" v-if="recommend_type == 0">Commingsoon...</div>
            <VerbForm v-if="recommend_type == 1"/>
            <AdjectiveForm v-if="recommend_type == 2"/>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeRecommendDialog()">Close</v-btn>
          <v-btn color="blue darken-1" text @click="saveRecommend()">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapMutations,mapActions, mapState, mapGetters } from 'vuex';
import VerbForm from '~/components/VerbForm';
import AdjectiveForm from '~/components/AdjectiveForm';
  export default {
    components:{
        VerbForm,
        AdjectiveForm,
    },
    data: () => ({
    }),
    computed: {
        ...mapState(['recommend_dialog','recommend_type']),
        // ...mapGetters([])
    },
    methods:{
        ...mapActions(['closeRecommendDialog','saveRecommend']),
        ...mapMutations([]),
    },
  }
</script>