<template>
    <v-row>
        <v-col cols="12" sm="6" md="4">
        <v-text-field v-model="recommend_verb.kanji" label="Kanji" required hint="行きます"></v-text-field>
        </v-col>
        <v-col cols="12" sm="6" md="4">
        <v-text-field v-model="recommend_verb.hira" label="Hiragana" hint="いきます"></v-text-field>
        </v-col>
        <v-col cols="12" sm="6" md="4">
        <v-text-field
            label="Translations"
            hint="Go,ไป"
            required
            v-model="recommend_verb.translations"
        ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6">
        <v-select
            :items="[1,2,3,4,5,6,7,8]"
            label="Level"
            required
            v-model="recommend_verb.level"
        ></v-select>
        </v-col>
        <v-col cols="12" sm="6">
        
        </v-col>
    </v-row>
</template>
<script>
import { mapMutations,mapActions, mapState, mapGetters } from 'vuex';
  export default {
    data: () => ({
    //   dialog: false,
    }),
    computed: {
        ...mapState(['recommend_verb']),
        // ...mapGetters([])
    },
    methods:{
        // ...mapActions([]),
        // ...mapMutations([]),
    },
  }
</script>