<template>
  <v-app dark>
    <!-- <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer> -->
    <v-app-bar
        :clipped-left="clipped"
        fixed
        app
      >
      <!-- <v-app-bar-nav-icon @click.stop="drawer = !drawer" /> -->
      <!-- <v-btn
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-btn
        icon
        @click.stop="clipped = !clipped"
      >
        <v-icon>mdi-application</v-icon>
      </v-btn>
      <v-btn
        icon
        @click.stop="fixed = !fixed"
      >
        <v-icon>mdi-minus</v-icon>
      </v-btn> -->
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-btn
        icon
        @click.stop="rightDrawer = !rightDrawer"
      >
        <v-icon>mdi-menu</v-icon>
      </v-btn>
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-navigation-drawer
      v-model="rightDrawer"
      :right="right"
      temporary
      fixed
    >
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light>
              mdi-repeat
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
      <v-container fluid>
        <v-layout row wrap>
          <v-flex md3 sm6 v-for="i in getNameOfKanjies" :key="i.img" class="pa-1">
            <div  class="text-xs-center">
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-chip @click="getKanjiDetail(i.img)" class="font-weight-bold" text v-on="on">{{i.img}}</v-chip>
                </template>
                  <span class="display-2">{{i.name}}</span>
              </v-tooltip>
            </div>
          </v-flex>
          
        </v-layout>
      </v-container>
    </v-navigation-drawer>
    <v-footer
      :fixed="fixed"
      app
    >
      <span>{{ new Date().getFullYear() }}年{{ new Date().getMonth() +1 }}月 {{name?`(${name}さん)`:''}}</span>
      <v-spacer/>
      <span class="overline"> Kanji : {{allkanji.length}}</span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapMutations,mapActions, mapState, mapGetters } from 'vuex';
export default {
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Flash Card'
    }
  },
  computed: {
    ...mapState(['allkanji','name']),
    ...mapGetters(['getNameOfKanjies'])
  },
  methods:{
        ...mapActions(['setKanji','getKanjiDetail']),
        // ...mapMutations([]),
    },
}
</script>
