<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-flex
      xs12
      sm8
      md6
    >
      <div class="text-center pa-5">
        <Alert/>
        <NameForm/>
        <!-- <logo /> -->
        <!-- <vuetify-logo /> -->
        <Catagory/>
      </div>
    </v-flex>
    <v-flex
      xs12
      sm8
      md6
      class="pb-5"
    >
      <Card/>
    </v-flex>
    <v-flex
      xs12
      sm8
      md6
    >
      <RecommendUs/>
      <RecommendFrom/>
    </v-flex>
  </v-layout>
</template>

<script>
import Catagory from '~/components/Catagory';
import Logo from '~/components/Logo.vue'
import Card from '~/components/Card'
import VuetifyLogo from '~/components/VuetifyLogo.vue'
import RecommendUs from '~/components/RecommendUs'
import RecommendFrom from '~/components/RecommendFrom'
import Alert from '~/components/Alert'
import NameForm from '~/components/NameForm'

export default {
  middleware:'authenticated',
  components: {
    Logo,
    Card,
    VuetifyLogo,
    Catagory,
    RecommendUs,
    RecommendFrom,
    Alert,
    NameForm
  },
  mounted(){

  },
}
</script>
